
# built application files
*.c


/.project
gen
bin

/actionbarsherlock/bin
/actionbarsherlock/gen


/slidingmenu_library/bin
/slidingmenu_library/gen


/aFileChooser/*.classpath
/aFileChooser/*.cfg
/aFileChooser/.classpath
/aFileChooser/.project


/dynamicgrid/.classpath
/dynamicgrid/.project
/dynamicgrid/target/*
/dynamicgrid/.settings/*
/dynamicgrid/.settings/org.eclipse.core.resources.prefs

/indicator_library/.classpath
/indicator_library/.project
/indicator_library/bin
/indicator_library/gen

/wheel_library/.classpath
/wheel_library/.project

TongRen/.settings/
TongRen/target/



TongRen/.settings/

/wheel_library/*.properties
/wheel_library/bin
/wheel_library/target
/wheel_library/.settings

/TongRen/bin
/TongRen/gen
/TongRen/.classpath
/TongRen/.project
/TongRen/target
/TongRen/target/unpacked-libs
/TongRen/target/classes
/TongRen/target/generated-sources
/TongRen/target/maven-archiver
/TongRen/target/maven-status
/TongRen/target/ndk-libs
/TongRen/target/test-classes
/TongRen/target/unpacked-libs
/TongRen/target/classes
/TongRen/target/generated-sources
/TongRen/target/maven-archiver
/TongRen/target/maven-status
/TongRen/target/ndk-libs
/TongRen/target/test-classes
/TongRen/target/test-classes
/TongRen/target/unpacked-libs


